@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #F0F2F5;
  height: 74.5vh;
  width: auto;
}
.left {
  /* border: 1px solid red; */
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 2rem;
}
.left p{
 width: 25rem;
 margin: 0 auto;
 font-size: 1.45rem;
 margin-top: .9rem;
}
.left h1{
  color: #1877F2;
  font-size: 3.5rem;
}
.right {
padding: .1rem;
  margin: 0 auto;
  width: 430px;
  height: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: .5rem;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.right > div{
  margin-bottom: .7rem;
}
.right .first-child{
 margin-top: 1rem;
}
.right input{
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid #e0e0e0;
  width: 370px;
  font-size: 1rem;
}
.login-btn{
  width: 406px;
  background-color: #1877F2;
  color: white;
  font-weight: 700;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 1.2rem;
  padding: .9rem;
}
.create-account-btn{
  background-color: #42B72A;
  color: white;
  font-weight: 700;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 1.1rem;
  padding: .9rem 1.3rem;
  position: relative;
  top: 23px;
}
.hrr{
  width: 400px;
  opacity: .3;
  margin-left: 12px;
  position: relative;
  top: 10px;
}
.right a{
  font-size: .9rem;
  text-decoration: none;
  margin-bottom: 1rem;
  color:#1877F2;
}
.create-page-bottom{
  position: relative;
  margin: 0 auto;
  top: 4.5rem;
  font-size: .9rem;
}
span > a{
  font-weight: bold;
  color: black;
}